<?xml version="1.0" encoding="UTF-8"?>
<Configuration name="systemConfiguration" schema="http://jakarta.apache.org/log4j2/">
    <Properties>
        <Property name="log-path">log</Property>
    </Properties>
    <Appenders>
        <Console name="console-appender" target="STDOUT">
            <PatternLayout>
                <pattern>
                    %highlight{%d{yyyy-MM-dd HH:mm:ss a}} %highlight{%-5level} [%15.15t] %style{%-50c{1.}}{cyan} : %msg%n
                </pattern>
            </PatternLayout>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="user-tracking-Logger" level="info" additivity="false">
            <AppenderRef ref="console-appender"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="console-appender"/>
        </Root>
    </Loggers>
</Configuration>